name: publish
on:
  push:
    tags: ['**']

jobs:
  publish:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm ci
      - run: npm set "//registry.npmjs.org/:_authToken" ${{ secrets.NPM_AUTH_TOKEN }}
      - run: npm version --commit-hooks=false --allow-same-version=true ${GITHUB_REF##*/}
      - run: npm publish --access public