name: publish
on:
  push:
    tags: ['**']

jobs:
  publish:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm ci
      - run: npm set "//registry.npmjs.org/:_authToken" ${{ secrets.NPM_TOKEN }}
      - run: npm version --commit-hooks=false --allow-same-version=true ${GITHUB_REF##*/}
      - run: npm publish
